<p>I want to encode something sensible into <a href="/bork" title="Convert UTF-8 into LATIN1">something stupid and broken</a></p>
<p>I want to take something stupid and broken and encode it into <a href="/fix" title="Convert LATIN1 into UTF-8">something sensible</a></p>
<p>It's all <a href="/greek" title="Convert ISO-8859-7 (Greek) into UTF-8">Greek</a> to me!</p>
