<p>I want to encode something sensible into <a href="/bork">something stupid and broken</a></p>
<p>I want to take something stupid and broken and encode it into <a href="/fix">something sensible</a></p>
